@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&family=DM+Serif+Display:ital@0;1&display=swap');
@import "tailwindcss";
@import "./variables.css";

@layer base {

  html,
  body {
    height: 100%;
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'DM Sans', sans-serif;
    background: var(--white);
    color: var(--text);
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
  }

  *,
  *::before,
  *::after {
    border-color: var(--border);
    outline-color: var(--ring);
    box-sizing: border-box;
  }
}

@custom-variant dark (&:is(.dark *));