@import "tailwindcss";
@import "./variables.css";

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}